<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <title>WhatWeAte</title>
    <link href="<%= url('stylesheets/main.css') %>" rel="stylesheet">
    <script src="<%= url('javascript/jquery-2.1.1.min.js') %>"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
