<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="<%= url('stylesheets/reset.css') %>" rel="stylesheet">
    <link href="<%= url('stylesheets/main.css') %>" rel="stylesheet">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
