<header>
  <img src="logo.png" alt="WeAteAt" class="logo">
</header>

<section class="proposition">
  <div class="text-container">
    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
  </div>
  <div class="cta">
    <a href="#">Link</a>
  </div>
  <div class="cta">
    <a href="#">Link</a>
  </div>
</section>

<section class="how-it-works">
  <article class="step">
    <img src="step1.png" alt="Step">
    <p>Pariatur nobis autem in dolorem ad suscipit similique provident maxime explicabo.</p>
  </article>
  <article class="step">
    <img src="step1.png" alt="Step">
    <p>Quos magnam magni sit id molestias vero quo veniam velit nobis architecto eum ipsa.</p>
  </article>
  <article class="step">
    <img src="step1.png" alt="Step">
    <p>Est repellendus, sit fugiat quaerat ducimus in!</p>
  </article>
</section>

<section class="events">
  <article class="event">
    <img src="event.jpg" alt="Event">
    <h1>Event</h1>
    <p>Aperiam mollitia recusandae ex illo deleniti consequatur consectetur veniam nulla</p>
  </article>
  <article class="event">
    <img src="event.jpg" alt="Event">
    <h1>Event</h1>
    <p>Assumenda reprehenderit voluptates quod iusto odit a consequatur cum, laudantium.</p>
  </article>
  <article class="event">
    <img src="event.jpg" alt="Event">
    <h1>Event</h1>
    <p>Quae doloribus ipsum at nihil, ullam voluptatibus omnis.</p>
  </article>
</section>
