@font-face {
  font-family: 'Bebas';
  src: url(../fonts/bebas.ttf) format('truetype');
}

$secondary-font: 'Bebas', 'Helvetica', sans-serif;
$primary-font: 'Helvetica', sans-serif;
$base-font-size: 14px;
$base-line-height: 16px;
$primary-color: #DC7A31;
$primary-color-hover: #BA6220;
