header {
  background-color: blue;

  .logo {

  }
}

.proposition {
  background-color: pink;

  h1 {

  }

  .cta {

  }
}

.how-it-works {
  background-color: green;

  .step {
    img {

    }

    p {

    }
  }
}

.events {
  background-color: purple;

  .event {
    img {

    }

    h1 {

    }

    p {

    }
  }
}
