@mixin breakpoint($point) {
  @if $point == tablet {
    @media (min-width: 560px) { @content ; }
  }
  @else if $point == desktop {
    @media (min-width: 960px) { @content ; }
  }
  @else if $point == large-desktop {
    @media (min-width: 1152px) { @content ; }
  }
}

  // @include breakpoint(tablet) {
  //   background-color: purple;
  // }
  // @include breakpoint(desktop) {
  //   background-color: red;
  // }
  // @include breakpoint(large-desktop) {
  //   background-color: black;
  // }


@font-face {
  font-family: 'Bebas';
  src: url(../fonts/bebas.ttf) format('truetype');
}

body {
  font-family: 'Helvetica', sans-serif
}

header {
  height: 60px;

  img {
    margin-left: 14px;
    margin-top: 10px;
    height: 40px;
  }
}

.proposition {
  background: url(../images/dining-out.jpg) no-repeat top right 30%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 420px;

  .text-container {
    height: 380px;
  }

  h1 {
    margin-bottom: 14px;
    font-family: 'Bebas', 'Helvetica', sans-serif;
    line-height: 42px;
    font-size: 32px;
    padding: 14px;
    color: white;
  }

  h2 {
    font-size: 24px;
    padding: 14px;
    color: white;
  }

  .cta {
    background-color: red;
    text-align: center;
    display: table;
    height: 40px;
    width: 50%;
    float: left;

    &:hover {
      background-color: purple;
    }

    a {
      text-decoration: none;
      vertical-align: middle;
      display: table-cell;
      color: white;
    }
  }
}

// .newsletter {
//   .input {

//   }
//   .submit {

//   }
// }

.how-it-works {
  padding: 28px 14px 14px;

  .step {
    text-align: center;
    padding-bottom: 44px;

    img {
      padding-bottom: 14px;
      height: 83px;
    }

    p {

    }
  }
}

.events {
  background-color: purple;
  padding: 14px;

  .event {
    background-color: rgba(0,0,0,0.2);
    margin-bottom: 20px;

    img {
      height: 164px;
      width: 100%;
    }

    h1 {

    }

    p {

    }
  }
}
