.events {
  background-color: $primary-background-color;
  text-align: center;
  padding: 28px 7px;

  .container {
    max-width: 926px;
    margin: 0 auto;
  }

  h1 {
    padding-bottom: 18px;
    word-spacing: 3px;
    font-family: $secondary-font;
    text-align: center;
    font-size: 1.6em;
  }

  .event {
    background-color: $secondary-background-color;
    vertical-align: top;
    text-align: left;
    display: inline-block;
    margin: 20px 7px;
    width: 292px;

    &:hover {
      background-color: #ece9e7;
    }

    a {
      text-decoration: none;
      color: black;
    }

    img {
      width: 100%;
    }

    h2, p {
      padding: 7px 14px;
    }

    h2 {
      padding-bottom: 0;
      font-weight: bold;
    }

    p {
      padding-bottom: 14px;
    }

    .details {
      padding: 8px 14px 4px;
      .price {
        float: right;
      }
    }
  }
}
