.events {
  background-color: $primary-background-color;
  padding: 28px 14px;

  h1 {
    padding-bottom: 18px;
    word-spacing: 3px;
    font-family: $secondary-font;
    text-align: center;
    font-size: 1.6em;
  }

  .event {
    background-color: $secondary-background-color;
    margin: 0 auto 20px;
    width: 292px;

    &:hover {
      background-color: #ece9e7;
    }

    a {
      text-decoration: none;
      color: black;
    }

    img {
      width: 100%;
    }

    h2, p {
      padding: 7px 14px;
    }

    h2 {
      padding-bottom: 0;
      font-weight: bold;
    }

    p {
      padding-bottom: 14px;
    }
  }
}
