.how-it-works {
  position: relative;
  text-align: center;
  margin: 0 14px;
  height: 568px;

  .toggle {
    position: absolute;
    left: -999px;
  }

  .toggle:not(:checked) + .togglable-content {
    z-index: 1;
  }

  .toggle:checked + .togglable-content {
    z-index: 2;
  }

  .togglable-content {
    background-color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 30px;
  }

  label {
    background-color: red;
  }

  label.active {
    background-color: purple;
  }

  .step {
    text-align: center;
    padding-bottom: 44px;

    img {
      padding-bottom: 14px;
      height: 83px;
    }

    p {

    }
  }
}
