.proposition {
  background-color: $primary-color;
  background: url(../images/dining-out.jpg);
  background: url(../images/dining-out.jpg) no-repeat top right 30%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: table;
  height: 508px;
  width: 100%;

  .content {
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    padding: 14px;
  }

  h1, h2, a {
    color: white;
  }

  h1, h2 {
    padding-bottom: 44px;
  }

  h1 {
    text-shadow: 0 0 50px black;
    font-family: $heading-font;
    line-height: 1.2em;
    font-size: 3em;
  }

  h2 {
    text-shadow: 0 0 40px black;
    line-height: 1.1em;
    font-size: 1.6em;
  }

  a {
    background-color: $primary-color;
    display: block;
    margin: 0 auto 14px;
    width: 140px;

    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.9em;
    padding: 10px;

    &:hover {
      background: $primary-color-hover;
    }
  }
}
