.proposition {
  background-color: $primary-color;
  background: url(../images/dining-out.jpg);
  background: url(../images/dining-out.jpg) no-repeat top right 30%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .container {
    display: table;
    margin: 0 auto;
    height: 508px;
    width: 320px;

    @include breakpoint(tablet) {
      width: 460px;
    }
  }

  .content {
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    padding: 14px;
  }

  h1, h2, a {
    color: white;
  }

  h1, h2 {
    padding-bottom: 36px;
  }

  h1 {
    text-shadow: 0 0 50px black;
    font-family: $secondary-font;
    line-height: 1.2em;
    font-size: 2.9em;

    @include breakpoint(tablet) {
      font-size: 3.2em;
    }
  }

  h2 {
    text-shadow: 0 0 40px black;
    line-height: 1.1em;
    font-size: 1.4em;

    @include breakpoint(tablet) {
      font-size: 1.8em;
    }
  }

  a {
    background-color: $primary-color;
    display: block;
    margin: 0 auto 14px;
    width: 100px;

    text-decoration: none;
    text-transform: uppercase;
    font-family: $secondary-font;
    text-align: center;
    font-size: 0.9em;
    padding: 10px;

    @include breakpoint(tablet) {
      font-size: 1em;
      display: inline-block;
      padding: 14px;
      margin: 0 14px;
    }

    &:hover {
      background: $primary-color-hover;
    }
  }
}
