<section class="events">
  <article class="event">
    <img src="event.jpg" alt="Event">
    <h1>Event</h1>
    <p>Aperiam mollitia recusandae ex illo deleniti consequatur consectetur veniam nulla</p>
  </article>
  <article class="event">
    <img src="event.jpg" alt="Event">
    <h1>Event</h1>
    <p>Assumenda reprehenderit voluptates quod iusto odit a consequatur cum, laudantium.</p>
  </article>
  <article class="event">
    <img src="event.jpg" alt="Event">
    <h1>Event</h1>
    <p>Quae doloribus ipsum at nihil, ullam voluptatibus omnis.</p>
  </article>
</section>
