<section class="events">
  <a name="events"></a>
  <h1>Upcoming events</h1>

  <article class="event">
    <a href="http://www.meetup.com/Food-Lovers-in-London/events/211061432/" alt="Contemporary Japanese Tasting Menu" title="Contemporary Japanese Tasting Menu">
      <img src="images/event.jpg" alt="Event">
      <h2>Contemporary Japanese Tasting Menu</h2>
      <p>Aperiam mollitia recusandae ex illo deleniti consequatur consectetur veniam nulla</p>
    </a>
  </article>
</section>
