<footer class="footer">
  <div class="container">
    <ul class="social">
      <a href="https://www.facebook.com/whatweate.co" class="facebook">
        Facebook
      </a>
      <a href="https://twitter.com/WhatWeAteCo" class="twitter">
        Twitter
      </a>
      <a href="http://instagram.com/whatweate.co" class="instagram">
        Instagram
      </a>
    </ul>

    <ul class="links">
      <li><a href="#how_it_works">How it works</a></li>
      <li><a href="https://whatweate.typeform.com/to/IXZyhO" class="cta typeform-share" data-mode="1" target="_blank">Become a host</a></li>
    </ul>

    <div class="legal">
      <ul>
        <a href="#"><li>Terms of use</li></a>
        <a href="#"><li>Privacy policy</li></a>
      </ul>

      <p>&copy; Copyright WhatWeAte Ltd <%= Time.now.year %></p>
    </div>
  </div>
</footer>
