<section class="newsletter">
  <p>
    Join the community and get updates on upcoming meals in your area
  </p>
  <div class="input-container">
    <form action="">
      <input type="text" class="input" placeholder="Enter your email"><!--
      --><input type="submit" class="submit" value="Sign up">
    </form>

  </div>
</section>
