<section class="proposition">
  <div class="container">
    <div class="content">
      <h1>Bringing People Together Over Food.</h1>
      <h2>Find delicious intimate dining experiences near you.</h2>
      <a href="#events">Join a table</a>
    </div>
  </div>
</section>
