<section class="proposition">
  <div class="text-container">
    <h1>Bringing People Together Over Food.</h1>
    <h2>Find delicious intimate dining experiences near you.</h2>
  </div>
  <div class="link-container">
    <a href="#">Link</a>
    <a href="#">Link</a>
  </div>
</section>
